{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'BI\BI_System\BI_App\static\BI_App\css\style.css' %}">
</head>
<body>
    <div class="dashboards">
        {% block dashboard %}

        {% endblock %}
    </div>
  <div class="preferences">
    {% block preferences %}

    {% endblock %}
  </div>

<div class="projects">
    {% block projects %}

    {% endblock %}
  </div>


<div class="resources">
    {% block resources %}

    {% endblock %}
  </div>


</body>
</html>