<form action= "{% url 'home' %}" method="post">
     {% csrf_token %}
  <div class="mb-3">
    <input type="email-text" class="form-control" name = "username" placeholder = "username...">
  </div>

  <div class="mb-3">
    <input type="password-text" class="form-control" name = "password" placeholder = "password...">
  </div>
  {% comment %} 
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
   {% endcomment %}
  <button type="submit" class="btn btn-succes">Submit</button>
</form>